
@{
    ViewBag.Title = "ErrorMessage";
}

<h3>Sorry, no weather information available right now</h3>

<input type="button"
       value="Back to Helpers"
       onclick="location.href='@Url.Action("Index", "Home")'" />